<main class="cart-main">
    <div class="cart-title-div">
        <h1>Shopping Cart</h1>
    </div>
    <div class="cart-container">
        {{#if products.length}}
        <div id="cart-items">
            {{#each products}}
            <div class="cart-item">
                <img class="product-image" src="{{image}}" alt="{{title}} Image">
                <div class="product-details">
                    <h2 class="product-name">{{title}}</h2>
                    <div class="product-price-div">
                        <span class="current-price">Price: ${{price}}</span>
                        <select class="quantity-select" data-id="{{apiId}}">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <span class="total-price">Total Price: $<span id="total-price-text">{{calculateTotal price 1}}</span></span>
                    </div>
                    <button class="cart-remove-btn" data-id="{{apiId}}">Remove</button>
                </div>
            </div>
            {{/each}}

        </div>
        {{else}}
            <p>Cart Empty!</p>
        {{/if}}
    </div>
    <div class="cart-checkout-container">
        <button id="checkout-btn">Checkout</button>
    </div>

</main>