
<main class="product-main-section">
    <div class="product">
        <div class="product-image">
            <img src="{{image}}" alt="{{ title }} Image">
        </div>
        <div class="product-details">
            <h1 class="product-title">{{ title }}</h1>
            <p class="product-description">{{ description }}</p>
            <p class="product-price">${{ price }}</p>
            <div class="product-rating">
                <!-- Insert rating stars or rating value here -->
            </div>
            <button class="add-to-cart-btn" data-id="{{apiId}}">Add to Cart</button>
        </div>
    </div>

    <div class="comments">
        <h2>Comments</h2>
        <div class="comment">
            <p class="comment-user">User Name</p>
            <p class="comment-content">Comment Content</p>
            <p class="comment-rating">Rating</p>
        </div>
        <!-- Add more comments here -->
    </div>
</main>